<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <h1>How was your evening?</h1>
    <form method="POST" action="/behavior/reporting/evening">
        <fieldset>
            
            <div class="form-group">
                <label for="customRange1" class="form-label">Choose the evening you want to report:</label>
            </div>

            <div class="form-group">
                <input type="date" min="2020-01-01" max="2030-12-31" name="date" value="<%= date %>">
            </div>


            <div class="form-group">
                <label for="customRange1" class="form-label">How many hours did you do sports and exercise?</label>
            </div>

            <div class="form-group">
                <span class="font-weight-bold blue-text mr-2 mt-1">0</span>
                <input type="range" class="form-range" min="0" max="8" step="1" id="customRange1" name="sportduration">
                <span class="font-weight-bold blue-text mr-2 mt-1">8</span>
            </div>


            <div class="form-group">
                <label for="customRange2" class="form-label">How many hours did you study?</label>
            </div>

            <div class="form-group">
                <span class="font-weight-bold blue-text mr-2 mt-1">0</span>
                <input type="range" class="form-range" min="0" max="8" step="1" id="customRange2" name="studyduration">
                <span class="font-weight-bold blue-text mr-2 mt-1">8</span>
            </div>


            <div class="form-group">
                <label for="customRange3" class="form-label">Rate your regularity:</label>
            </div>

            <div class="form-group">
                <span class="font-weight-bold blue-text mr-2 mt-1">1 (Bad)</span>
                <input type="range" class="form-range" min="1" max="5" step="1" id="customRange3" name="regularity">
                <span class="font-weight-bold blue-text mr-2 mt-1">5 (Perfect)</span>
            </div>


            <div class="form-group">
                <label for="customRange4" class="form-label">How healthily did you eat?</label>
            </div>

            <div class="form-group">
                <span class="font-weight-bold blue-text mr-2 mt-1">1 (Very unhealthily)</span>
                <input type="range" class="form-range" min="1" max="5" step="1" id="customRange4" name="eatquality">
                <span class="font-weight-bold blue-text mr-2 mt-1">5 (Very healthily)</span>
            </div>


            <div class="form-group">
                <label for="customRange5" class="form-label">Rate your generic mood:</label>
            </div>

            <div class="form-group">
                <span class="font-weight-bold blue-text mr-2 mt-1">1 (Bad)</span>
                <input type="range" class="form-range" min="1" max="5" step="1" id="customRange5" name="genericmood">
                <span class="font-weight-bold blue-text mr-2 mt-1">5 (Perfect)</span>
            </div>


            <input type="submit" value="Rate your evening!" class="btn btn-primary" />
        </fieldset>
    </form>
    <ul>
        <li>
            <a href="/behavior/reporting/morning">Want to rate your morning instead?</a>
        </li>
        <li>
            <a href="/behavior/reporting">Back to reporting index page</a>
        </li>
    </ul>
</div>

<%- include('../partials/footer.ejs') %>