<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <h1>Welcome to behavior reporting!</h1>
    <h3>Do you want to rate your morning or evening?</h2>
    <fieldset>
         <div class="btn-group">
            <a href="/behavior/reporting/morning" class="btn btn-primary active" aria-current="page">Morning</a>
            <a href="/behavior/reporting/evening" class="btn btn-primary active" aria-current="page">Evening</a>
        </div>
    </fieldset>
</div>

<%- include('../partials/footer.ejs') %>