<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <img src="/static/logo.png" alt="" width="40" height="40" class="d-inline-block align-center">
    <a class="navbar-brand" href="/">Self-monitoring app</a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" href="/behavior/reporting">Behavior reporting</a>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" href="/behavior/summary">Summaries</a>
      </li>
    </ul>

    <span class="navbar-text">
      <%= message %>
    </span>

    <% if (loggedIn) { %>
    <form class="d-flex" method="POST" action="/auth/logout">
      <button class="btn btn-outline-success" type="submit">Log out</button>
    </form>
    <% } else { %>
    <form class="d-flex" method="GET" action="/auth/login">
      <button class="btn btn-outline-success" type="submit">Sign in</button>
    </form>
    <% } %>

  </div>
</nav>