<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <h1>Welcome!</h1>
    <p>Welcome to Self-Monitoring Application made by Kusti Hämäläinen at December 2020 for course project.</p>

    <a href="/auth/login">Already registered? Sign in!</a>
    <a href="/auth/registration">Don't have an account yet? Sign up!</a>
  </div>

<%- include('./partials/footer.ejs') %>